.get_elements_center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.review_rating span span {
  font-size: 1.5rem !important;
  color: #faaf00 !important;
}
